:root {
  --max-w: 90rem;
  --mobile-max: 768px;
  --Dark: #191a23;
  --Green: #b9ff66;
  --Grey: #f2f2f2;
  --pc-padding: 0rem 6.25rem;
  --mobile-padding: 0rem 1rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: spaceGrotesk;
  src: url(./fonts/space-grotesk/SpaceGrotesk-2.0.0/ttf/static/SpaceGrotesk-Regular.ttf);
}
.bg-green-title{
  display: inline-block;
  background-color: var(--Green, #b9ff66);
  border-radius: 10px;
  padding: 3px;
  color: #000;
  font-weight: 600;
}
.bg-white-title{
  display: inline-block;
  background-color: #fff;
  border-radius: 10px;
  padding: 3px;
  color: #000;
  font-weight: 600;
}
.hero-nav-container {
  max-width: var(--max-w);
  margin: 0 auto;
  padding: var(--pc-padding);
  font-family: spaceGrotesk;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
.navigation .logo {
  font-size: 1.5rem;
  font-weight: 700;
}
.navigation .logo .site-title {
  max-width: 10.72106rem;
}
#site-icon {
  transition: 300ms ease-in-out;
}
.navigation .menus ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 3rem;
}
.navigation .menus ul .menu-item,
.menu-button {
  list-style-type: none;
  color: #000;
  padding: 0.5rem;
  margin: 0 0.3rem;
  font-size: 1.15rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem; /* 140% */
  border-radius: 10px;
  cursor: pointer;
  transition: background 400ms ease-in-out;
}
.navigation .menus ul .menu-button {
  padding: 0.75rem 1.1875rem;
  gap: 0.625rem;
  border-radius: 0.875rem;
  border: 1px solid var(--Dark, #191a23);
  transition: background 400ms ease-in-out;
}
.navigation .menus ul .menu-button:hover,
.menu-item:hover {
  background-color: var(--Green, #b9ff66);
}
.menu-icon{
  display: none;
}
.hero-nav-container .hero{
  display: flex;
  max-width: 90rem;
  padding: 2rem 0;
  justify-content: space-between;
  align-items: flex-start;
}
.hero-right,.hero-left{
  max-width: 50%;
}
.hero-left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.25rem;
}
.hero-left .hero-heading{
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 3.5rem;
  color: #000;
  font-style: normal;
}
.hero-left .hero-paragraph{
  max-width: 31.125rem;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.75rem;
  color: #000;
  font-style: normal;
}
.hero-left .hero-button{
  padding: 1.25rem 2.1875rem;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.75rem;
  color:#fff;
  background-color: var(--Dark, #191a23);
  border-radius: 0.875rem;
  cursor: pointer;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  outline: none;
  border: none;
  transition: all 400ms ease-in-out;
}
.hero-left .hero-button:hover{
  background-color: var(--Green, #b9ff66);
  color: #000;
}
.hero-right img{
  max-width: 85%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}
.hero-button-mobile{
  display: none;
}

/* company logo css design */

.company-logo-container{
  max-width: var(--max-w);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.25rem;
  padding: var(--pc-padding);
}
.company-logo-container img{
  filter: grayscale(100%);
  opacity: 0.5;
  cursor: pointer;
  transition: all 400ms ease-in-out;
}
.company-logo-container img:hover{
  filter: grayscale(0%);
  opacity: 1;
}

/* services section css */
.services-container{
  max-width: var(--max-w);
  margin: 0 auto;
  padding: var(--pc-padding);
  padding-bottom: 3rem;
  gap: 1.25rem;
  font-family: spaceGrotesk;
}
.services-heading{
  color: #000;
  display: flex;
  align-items: center;
  gap: 1.25rem;
  padding: 3rem 0;
  margin-top: 1.25rem;
  font-size: 1.55rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.srv-para{
  text-align: justify;
  max-width: 36.25rem;
  color: #000;
  font-size: 1.125rem;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.services-cards{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.25rem;
}
.srv-card{
  width: 37.5rem;
  display: flex;
  justify-content: space-between;
  flex: 0 1 49%;
  padding: 3.125rem;
  align-items: center;
  margin-top: 1.25rem;
  background-color: var(--Grey, #f2f2f2);
  border-radius: 2.8125rem;
  border: 1px solid var(--Dark, #191A23);
  box-shadow: 0px 5px 0px 0px #191A23;
  transition: all 400ms ease-in-out;
}
.srv-card:hover{
  transform: translateY(-5px);
}
.srv-card-left,.srv-card-right{
  width: 50%;
}
.srv-card .srv-card-left{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 25dvh;
}
.srv-card .srv-card-left .learn-more{
  display: flex;
  max-width: 80%;
  align-items: center;
  gap: 0.9375rem;
  font-size: 1.125rem;
  font-weight: 500;
  color:#fff;
  border-radius: 0.875rem;
  cursor: pointer;
  font-style: normal;
  transition: all 400ms ease-in-out;
  color: black;
}
.srv-card .srv-card-left .learn-more img{
  transition: all 400ms ease-in-out;
}
.srv-card .srv-card-left .learn-more:hover > img{
  transform: rotate(28deg);
  transform: rotate(28deg);
}
.srv-card .srv-card-left .learn-more:hover{
  background-color: var(--Green, #b9ff66);
  color: #000;
}

.learn-more img{
  width: 2.5625rem;
  height: 2.5625rem;
}
.srv-card .srv-card-right img{
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}
.ppc,.cc{
  background-color: var(--Green, #b9ff66);
}
.smm,.aNt{
  background-color: var(--Dark, #191a23);
}
.smm .learn-more p,.aNt .learn-more p{
  color: #fff;
}
.smm .learn-more:hover > p, .aNt .learn-more:hover > p{
  color: #000;
}
.cc .srv-card-left .learn-more:hover,.ppc .srv-card-left .learn-more:hover{
  background-color: var(--Grey, #f2f2f2);
  color: #000;
}

/* cta section css */
.cta-container{
  max-width: var(--max-w);
  font-family: spaceGrotesk;
  padding: var(--pc-padding);
}
.cta-wrapper{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1.25rem;
  border-radius: 2.8125rem;
  background: var(--Grey, #F3F3F3);
  height: 21.6875rem;
  padding: 0rem 3.75rem;
}
.cta-left,.cta-right{
width: 50%;
}
.cta-right{
  text-align: right;
}
.cta-wrapper .cta-left .cta-header{
  max-width: 31.25rem;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 3.5rem;
  color: #000;
  font-style: normal;
}
.cta-wrapper .cta-left .cta-desc{
  max-width: 31.25rem;
  color: #000;
  font-size: 1.125rem;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
}
.cta-wrapper .cta-left .cta-button{
  display: inline-block;
  padding: 1.25rem 2.1875rem;
  margin-top: 20px;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.75rem;
  color:#fff;
  background-color: var(--Dark, #191a23);
  border-radius: 0.875rem;
  cursor: pointer;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  transition: all 300ms ease-in-out;
}
.cta-wrapper .cta-left .cta-button:hover{
  background-color: var(--Green, #b9ff66);
  color: #000;
}

/* case studies css section */
.case-studies-container{
  max-width: var(--max-w);
  margin: 0 auto;
  padding: var(--pc-padding);
  padding-bottom: 3rem;
  gap: 1.25rem;
  font-family: spaceGrotesk;
}
.case-studies-heading{
  color: #000;
  display: flex;
  align-items: center;
  gap: 1.25rem;
  padding: 3rem 0;
  margin-top: 1.25rem;
  font-size: 1.55rem;
  font-weight: 500;
}
.cs-para{
  text-align: justify;
  max-width: 36.25rem;
  color: #000;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-size: 1.125rem;
}
.case-studies-cards{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.25rem;
  background-color: var(--Dark, #191a23);
  border-radius: 2.8125rem;
}
.case-studies-cards .cs-card{
  width: 37.5rem;
  flex: 0 1 49%;
  padding: 3.125rem;
  margin-top: 1.25rem;
}
.case-studies-cards .cs-card .cs-top p{
  color: #fff;
  font-size: 1.125rem;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
}
.case-studies-cards .cs-card .cs-bottom{
  color: var(--Green, #b9ff66);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.25rem;
  gap: 0.9375rem;
}
.cs-bottom .cs-learn-btn{
  padding: 0.75rem 1.1875rem;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.75rem;
  color:#fff;
  background-color: var(--Dark, #191a23);
  border-radius: 0.875rem;
  cursor: pointer;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  transition: all 400ms ease-in-out;
}
.cs-bottom .cs-learn-btn:hover{
  background-color: var(--Green, #b9ff66);
  color: #000;
}

.vertical-line{
  background: #FFF;
  width: 0.0625rem;
  height: 11.625rem;
}



























































/* Media Queries */
@media screen and (max-width: 768px) {
  /* navigation section responsive css */
  .hero-nav-container {
    max-width: var(--mobile-max);
    position: relative;
    padding: var(--mobile-padding);
  }
  .navigation .logo{
    text-align: center;
    padding: 15px 0;
  }
  .navigation{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    padding: 1rem 0;
  }
  .navigation .menus ul{
    display: unset;
    position: fixed;
    top: 0;
    left: -100%;
    width: 80%;
    height: 100dvh;
    background-color: var(--Dark, #191a23);
    padding: 1rem;
    border-radius: 0 0.875rem 0.875rem 0;
    z-index: 99;
    transition: all 400ms ease-in-out;
  }
  .navigation .menus ul .menu-item{
    display: block;
    text-align: center;
    cursor: unset;
    padding: 1rem 0;
    margin: 3px 0;
    font-size: 1rem;
    color: var(--Green, #b9ff66);
    background-color: var(--Dark, #191a23);
    user-select: none;
  }
  .navigation .menus ul .menu-button{
    border: 1px solid var(--Green, #b9ff66);
    cursor: unset;
    user-select: none;
  }
  .navigation .menus ul .menu-button:hover{
    color: var(--Dark, #191a23);
  }
  .navigation .menus ul .menu-item:hover{
    background-color: var(--Green, #b9ff66);
    color: var(--Dark, #191a23);
  }
  .menu-expand-js{
    left: 0% !important;
  }
  .xmark::before,.fa-navicon::before{
    content: "\f00d"!important;
  }
  .menu-icon{
    display: block;
    font-size: 1.5rem;
    position: fixed;
    top: 2.85rem;
    right: 2rem;
    z-index: 999;
  }
  /* hero section responsive css */
  .hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    padding: 2rem 0;
    user-select: none;
  }
  .hero-left,.hero-right{
    max-width: 100%;
  }
  .hero-button{
    display: none;
  }
  .hero-button-mobile{
    display: block;
    width: 100%;
    padding: 1.25rem 2.1875rem;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.75rem;
    color:#fff;
    background-color: var(--Dark, #191a23);
    border-radius: 0.875rem;
    cursor: unset;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    outline: none;
    border: none;
    transition: all 400ms ease-in-out;
  }
  .hero-button-mobile:hover{
    background-color: var(--Green, #b9ff66);
    color: #000;
  }

  /* company logo section responsive css */
  .company-logo-container{
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: var(--mobile-padding);
  }
  .company-logo-container img{
    max-width: 85%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    cursor: unset;
  }
  /* services responsive css */
  .services-container{
    padding: var(--mobile-padding);
  }
  .services-heading{
    flex-direction: column;
    font-size: 1.25rem;
    padding: 1.25rem 0;
  }
  .srv-para{
    max-width: 90%;
    font-size: 0.9rem;
  }
  .services-cards{
    flex-direction: column;
    gap: 1.25rem;
  }
  .srv-card{
    width: 100%;
    padding: 3.25rem;
  }
  .srv-card-left,.srv-card-right{
    width: 100%;
  }
  .srv-card .srv-card-left .learn-more{
    max-width: 35%;
    cursor: unset;
    cursor: unset;
  }
  .srv-card .srv-card-left .learn-more:hover{
    background-color: unset;
  }
  .srv-card .srv-card-left .learn-more p{
    display: none;
  }
  /* cta section responsive css */
  .cta-container{
    max-width: var(--mobile-max);
    padding: var(--mobile-padding);
    margin: 2rem 0;
  }
  .cta-wrapper{
    flex-direction: column;
    height: 100%;
    padding: 2.25rem;
  }
  .cta-wrapper .cta-left .cta-header{
    font-size: 1.75rem;
    line-height: 2.5rem;
  }
  .cta-wrapper .cta-left .cta-desc{
    font-size: 1rem;
  }
  .cta-wrapper .cta-left .cta-button{
    display: block;
    width: 100%;
    font-size: 1rem;
    cursor: unset;
  }
  .cta-wrapper .cta-right{
    display: none;
  }
  .cta-wrapper .cta-left{
    width: 100%;
  }



 
}
